.title{
    width: 237px;
    height: 35px;
    /*padding-top: 66px;
    padding-left: 601px;
    padding-right: 602px;
    padding-bottom: 84px;*/
    margin-top: 66px;
    margin-left: 580px;
    margin-right: 601px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}

.title2{

    position: absolute;
    width: 556px;
    height: 67px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #000000;

}

.text{

    position: absolute;
    width: 892px;
    height: 794px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    padding-left: 274px;
    padding-right: 274px;
    padding-top: 46px;
    padding-bottom: 363px;
}

img{
    margin-top: 84px;
    margin-bottom: 65px;
}

.date{
    position: absolute;
    width: 73px;
    height: 16px;

    margin-top: 17px;
    padding-left: 683px;
    padding-right: 683px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #000000;

}