body {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    text-align: center;
    margin-top: 50px;
}

.img-wrapper {
    text-align: center;
}

.title2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.text{

    max-width: 892px;
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
    padding-top: 46px;
    padding-bottom: 363px;
}

.date {

    margin-top: 17px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;

}